#root div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reaction-box {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  transition: background-color 0.2s ease;
  border-radius: 25px;
}

.reaction-box.idle {
  background-color: #ddd;
  color: black;
}

.reaction-box.waiting {
  background-color: red;
}

.reaction-box.ready {
  background-color: green;
  transition: background-color 0s ease;
}

.reaction-box.tooEarly {
  background-color: orange;
}

.reaction-box.result {
  background-color: blue;
}
